ol {
    color: blue;
}

ul {
    color: red;
}

dd {
    color: red;
}

input {
    width: 10ch;
}

p {
    border-radius: 5px;
    padding: 10px;
    border: solid;
    border-width: 0px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    column-width: 20px;
}